
article{
    width: 400px;
    background-color: #FFFFFF;
    border: 1px dotted;
    margin-bottom: 50px auto;
    color: #707070;
    border-color: #707070;
}

article img{
    max-width: 100%;
    width: 400px;
    height: 200px;
}